@define-color colorPrimary #0F4C81;
@define-color colorAccent #197FFC;
@define-color textColorPrimary #FFFFFF;

.accent-bold-text {
	color: #197FFC;
	font-size: 25px;
	font-weight: 700;
}

.primary-background {
	background-color: #0F4C81;
	color: #FFFFFF;
}

.primary-text {
	font-size: 14px;
	font-weight: 600;
}

.warning-background {
	background-color: #cd1919;
	color: #FFFFFF;
}

.warning-text {
	color: #cd1919;
	font-weight: 700;
}
